<ion-content [fullscreen]="true" class="register-content">
  <div class="register-container">
    <img src="assets/voting.png" alt="App Logo" class="register-logo" />

    <ion-card class="register-card">
      <form (ngSubmit)="onRegister()" #loginForm="ngForm">
        <ion-card-header>
          <ion-card-title class="ion-text-center">Register</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-item lines="inset">
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-input [(ngModel)]="fullName" [ngModelOptions]="{ standalone: true }" name="fullName" type="text" placeholder="Full Name" required></ion-input>
          </ion-item>
          <ion-item lines="inset">
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            <ion-input [(ngModel)]="email" [ngModelOptions]="{ standalone: true }" name="email" type="email" placeholder="Email" required></ion-input>
          </ion-item>

          <ion-item lines="inset" class="ion-margin-top">
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-input [(ngModel)]="password" [ngModelOptions]="{ standalone: true }" name="password" type="password" placeholder="Password" required>
               <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
          </ion-item>

          <ion-item lines="inset" class="ion-margin-top">
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-input [(ngModel)]="confirmPassword" [ngModelOptions]="{ standalone: true }" type="password" placeholder="Password Confirmation" required>
               <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
          </ion-item>

          <ion-button expand="block" class="ion-margin-top" type="submit" color="primary" [disabled]="!loginForm.valid"> Register </ion-button>

          <ion-button expand="block" fill="clear" (click)="login()"> Back to login </ion-button>
        </ion-card-content>
      </form>
    </ion-card>
  </div>
</ion-content>
