<app-header title="Home" />

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card class="ion-margin-top">
    <ion-card-header>
      <ion-card-title>{{ voteData.title }}</ion-card-title>
      <ion-card-subtitle>{{ voteData.description }}</ion-card-subtitle>
    </ion-card-header>

    <!-- FORM VOTING -->
    <ion-card-content *ngIf="!hasVoted || isEditing">
      <ion-list>
        <ion-radio-group
          [(ngModel)]="selectedOptionId"
          [ngModelOptions]="{ standalone: true }"
        >
          <ion-item *ngFor="let option of voteData.options">
            <ion-radio slot="start" [value]="option.id"></ion-radio>
            <ion-label>{{ option.text }}</ion-label>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-button
        expand="block"
        class="mt-3"
        [disabled]="!selectedOptionId()"
        (click)="submitVote()"
        mode="ios"
      >
        {{ hasVoted ? 'Kirim Ulang' : 'Vote' }}
      </ion-button>
    </ion-card-content>

    <!-- HASIL VOTE -->
    <ion-card-content *ngIf="hasVoted && !isEditing">
      <ion-list>
        <ion-item *ngFor="let option of voteData.options">
          <ion-label class="w-full">
            <div class="flex justify-between items-center mb-1">
              <strong
                [ngClass]="{
              'text-primary': userVoteId === option.id,
              'font-bold': userVoteId === option.id
            }"
              >
                {{ option.text }}
                <ion-icon
                  *ngIf="userVoteId === option.id"
                  name="checkmark-circle"
                  class="ml-1"
                  color="primary"
                ></ion-icon>
              </strong>
              <span
                >{{ ((option.votes / voteData.totalVotes) * 100) |
                number:'1.0-0' }}%</span
              >
            </div>
            <ion-progress-bar
              [value]="option.votes / voteData.totalVotes"
              [color]="userVoteId === option.id ? 'primary' : 'medium'"
            ></ion-progress-bar>
            <div class="text-sm text-gray-500 mt-1">
              {{ option.votes }} suara
            </div>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-button mode="ios" expand="block" fill="clear" (click)="editVote()">
        Edit Vote
      </ion-button>
    </ion-card-content>
    
  </ion-card>
</ion-content>
